@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  position: relative;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $firmcolor;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.container {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

// @media (min-width: $tablet-width) {


@media (min-width: $desktop-width) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.blackout {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 500;
}

.blackout--show {
  display: block;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  font-family: inherit;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  @include ttl-style;
}

.square-button {
  font-family: inherit;
  color: #ffffff;
  line-height: $maxline-h;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: $green-mod;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  @include ttl-style;

  &:hover,
  &:focus {
    background-color: $green-active;
  }

  &:active {
    background-color: $green-active;
    color: $white-op;
  }

  &:disabled {
    background-color: $lightgrey-mod;
  }
}
