@import "variables.scss";
@import "mixins.scss";
@import "blocks/page-header.scss";
@import "blocks/main-menu.scss";
@import "blocks/index/page-main.scss";
@import "blocks/index/promo.scss";
@import "blocks/index/stores-list.scss";
@import "blocks/index/description.scss";
@import "blocks/index/advantages-block.scss";
@import "blocks/index/feedbacks-slider.scss";
@import "blocks/index/slider-nav-list.scss";
@import "blocks/index/set-selector.scss";
@import "blocks/index/set-nav-list.scss";
@import "blocks/index/mainpage-footer.scss";
@import "blocks/index/contacts-block.scss";
@import "blocks/photo/block-head.scss";
@import "blocks/photo/photo-block.scss";

html {
  max-width: 320px;
  max-height: 3430px;
}

body {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $firmcolor;

  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  @include img-sizing;
}

.button {
  line-height: 18px;
  @include ttl-style;
}
