$firmcolor: #283645;
$grey-mod: #f2f2f2;
$pink-mod: rgba(210, 40, 86, 1);
$pink-mod-op: rgba(210, 40, 86, 0.3);
$darkgrey-mod: #bec2c7;
$green-mod: #2aab6d;
$editoricon-fill: #b5b9be;
$setborder: 2px solid #e5e5e5;
$minifont: 12px;
$ttlfont: 18px;
$maxline-h: 30px;
$line-auto: 1.2em;
$cancel-btn: #dddfe0;
