$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$firmcolor: rgb(40, 54, 69);
$firmcolor-op: rgba(40, 54, 69, 0.3);
$black-op: rgba(0, 0, 0, 0.3);
$grey-mod: #f2f2f2;
$pink-mod: #d12755;
$pink-mod-op: rgba(210, 40, 86, 0.3);
$lightgrey-mod: #e5e5e5;
$darkgrey-mod: #bec2c7;
$green-mod: #2aab6d;
$green-active: #1c9b5e;
$white-op:rgba(255, 255, 255, 0.3);
$editoricon-fill: #b5b9be;
$editoricon-hover: #8d949b;
$setborder: 2px solid #e5e5e5;
$minifont: 12px;
$ttlfont: 18px;
$maxline-h: 30px;
$line-auto: 1.2em;
$cancel-btn: #dddfe0;
$cancel-btn-hover: #c4c6c8;
$cancel-btn-active: #ccced2;
$slider-hover: #7e868f;
$slider-active: rgba(190, 194, 199, 0.3);
