.advantages-block {
  background-color: $grey-mod;
  padding-top: 50px;
  @include lr-padding;
}

.advantages-block__title {
  color: #000000;
  padding-top: 35px;
  margin-top: 0;
  @include ttl-style;
}
