.advantages-block {
  position: relative;
  background-color: $grey-mod;
}

.advantages-block::before {
  content: "";
  position: absolute;
  display: block;
  width: 320px;;
  height: 35px;
  left: 0;
  top: -35px;
  background-image: url("../img/grey-mask.png");
  z-index: 10;
}

.advantages-block::after {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 45px;
  left: 0;
  bottom: 0;
  background-image: url("../img/white-mask.png");
  z-index: 10;
}

.advantages-block__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages-block__title {
  color: #000000;
  padding-top: 35px;
  margin-top: 0;

  @include ttl-style;
}

.advantages-block__illustration--hide {
  display: none;
}

@media (min-width:$tablet-width) {

  .advantages-block {
    &::before,
    &::after {
      width: $tablet-width;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .advantages-block__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .advantages-block__list {
    order: 2;
    width: 320px;
  }

  .advantages-block__item {
    text-align: left;
    width: 320px;
  }

  .advantages-block__illustration {
    align-self: flex-start;
    order: 1;
    width: 270px;
  }

  .advantages-block__image {
    width: 270px;
    height: 540px;
  }
}

@media (min-width:$desktop-width) {

  .advantages-block::after {
    display: none;
  }

  .advantages-block__wrapper {
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
  }

  .advantages-block__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .advantages-block__item {
    text-align: center;
    width: 230px;
  }

  .advantages-block__title {
    font-size: 30px;
    line-height: $maxline-h;
  }

  .advantages-block__text {
    font-size: 18px;
    line-height: $maxline-h;
  }

  .advantages-block__images-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .advantages-block__illustration {
    width: 230px;
  }

  .advantages-block__illustration--hide {
    display: block;
  }

  .advantages-block__image {
    width: 200px;
  }
}
