.contacts-block {
  display: flex;
  flex-direction: column;

  @include lr-padding;
}

.contacts-block__title {
  margin: 0;

  @include ttl-style;
}

.contacts-block__text {
  color: $pink-mod;
  margin-bottom: 22px;
  margin-top: 0;

  @include big-ttl-style;
}

.contacts-block__adress {
  .contacts-block__title {
    padding-top: 10px;
  }

  .contacts-block__text {
    padding-top: 10px;
    margin-bottom: 40px;
  }
}


@media (min-width: $tablet-width) {
  .contacts-block__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts-block__phone,
  .contacts-block__mail {
    width: 50%;
  }

  .contacts-block__adress {
    align-self: center;
    width: 320px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-block {
    padding-bottom: 25px;
  }

  .contacts-block__phone {
    order: 1;
    width: 33.33%;
  }

  .contacts-block__mail {
    order: 3;
    width: 33.33%;
  }

  .contacts-block__adress {
    order: 2;
    width: 33.33%;
  }
}
