.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__title {
  padding-bottom: 5px;
  margin: 0;

  @include ttl-style;
}

.contacts__text {
  color: $pink-mod;
  line-height: $line-auto;
  margin-bottom: 21px;
  margin-top: 0;

  @include big-ttl-style;
}

.contacts__block--adress {
  .contacts__text {
    margin-bottom: 40px;
  }
}

.contacts__link {
  color: inherit;

  &:hover,
  &:focus {
    color: $firmcolor;
    border-bottom: 1px solid $firmcolor;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__block {
    width: 45%;
  }

  .contacts__block--phone,
  .contacts__block--mail {
    padding-right: 0;
    margin-bottom: 16px;
  }

  .contacts__block--adress {
    margin: 0 auto;

    .contacts__title {
      padding-top: 9px;
      padding-bottom: 8px;
    }

    .contacts__text {
      margin-bottom: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 15px;
  }

  .contacts__wrapper {
    justify-content: space-between;
  }

  .contacts__block {
    width: 28.8%;
  }

  .contacts__block--phone {
    order: 1;
    padding-right: 0;
  }

  .contacts__block--mail {
    order: 3;
    padding-right: 0;
  }

  .contacts__block--adress {
    order: 2;
    margin-bottom: 0;

    .contacts__title {
      padding-top: 0;
      padding-bottom: 23px;
    }

    .contacts__text {
      margin-bottom: 0;
    }
  }

  .contacts__title {
    padding-bottom: 24px;
  }

  .contacts__text {
    margin-bottom: 0;
  }
}
