.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 44px;
}

.description__title {
  padding-bottom: 35px;
  margin: 0;

  @include big-ttl-style;
}

.description__wrapper {
  padding-bottom: 25px;
}
