.description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description__title {
  line-height: $line-auto;
  padding-top: 34px;
  margin: 0;

  @include big-ttl-style;
}

.description__wrapper {
  padding-top: 5px;
  padding-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .description__title {
    font-size: 40px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .description__title {
    font-size: 50px;
  }

  .description__wrapper {
    padding-top: 67px;
    padding-bottom: 72px;
  }
}
