.description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description__title {
  line-height: $line-auto;
  margin: 0;

  @include big-ttl-style;
}

.description__wrapper {
  padding-top: 44px;
  padding-bottom: 60px;

}

@media (min-width: $desktop-width) {
  .description__title {
    font-size: 50px;
  }

  .description__wrapper {
    padding-top: 75px;
    padding-bottom: 67px;
  }
}
