.feedbacks-slider {
  position: relative;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 40px;
}

.feedbacks-slider__quotes-image {
  display: none;
}

.feedbacks-slider__arrow {
  display: none;
}

.feedbacks-slider__item {
  display: flex;
  flex-direction: column;
}

@keyframes vision {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes invision {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.feedbacks-slider__item--hide {
  display: none;
  animation-name: invision;
  animation-duration: 1s;
}

.feedbacks-slider__item--show {
  animation-name: vision;
  animation-duration: 1s;
}

.feedbacks-slider__title {
  color: #000000;
  margin: 0;

  @include ttl-style;
}

.feedbacks-slider__caption {
  display: none;
}

.feedbacks-slider__text {
  line-height: $maxline-h;
  padding-top: 17px;
  padding-bottom: 34px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .feedbacks-slider {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .feedbacks-slider__caption {
    display: block;
    order: 3;
    margin-top: 5px;
    margin-bottom: 36px;
  }

  .feedbacks-slider__text {
    order: 1;
    font-size: $ttlfont;
    padding-top: 16px;
    padding-bottom: 35px;
  }

  .feedbacks-slider__title {
    order: 2;
    font-size: 20px;
    line-height: $maxline-h;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedbacks-slider {
    padding-top: 72px;
    padding-bottom: 11px;
  }

  .feedbacks-slider__quotes-image {
    display: block;
    margin: 0 auto;
  }

  .feedbacks-slider__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .feedbacks-slider__arrow {
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &:hover .feedbacks-slider__arrow-icon-path,
    &:focus .feedbacks-slider__arrow-icon-path {
      fill: #7e868f;
    }

    &:active .feedbacks-slider__arrow-icon-path {
      fill: #e9ebec;
    }
  }

  .feedbacks-slider__arrow-icon {
    margin-bottom: 70px;
  }

  .feedbacks-slider__item {
    align-items: center;
  }

  .feedbacks-slider__text {
    width: 690px;
    padding-top: 49px;
    padding-bottom: 35px;
  }

  .feedback-slider__quote {
    display: none;
  }

  .feedbacks-slider__title {
    font-size: 24px;
  }

  .feedbacks-slider__caption {
    font-size: 18px;
  }

  .feedbacks-slider .nav-list {
    display: none;
  }
}
