.mainpage-footer {
  position: relative;
  text-align: center;
}

.mainpage-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.mainpage-footer__title {
  line-height: $line-auto;
  padding-top: 48px;
  padding-bottom: 33px;
  margin: 0;

  @include big-ttl-style;
}

.mainpage-footer__map {
  position: relative;
  width: 320px;
  min-height: 200px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile.png");
  background-position: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.mainpage-footer__marker {
  position: absolute;
  top: 93px;
  left: 141px;
}

.mainpage-footer__mask {
  position: absolute;
  width: 100%;
  height: 62px;
  left: 0;
  top: -15px;
}

// .mainpage-footer__map::before {
//   content: "";
//   position: absolute;
//   display: block;
//   width: 320px;
//   height: 62px;
//   left: 0;
//   top: -15px;
//   background-image: url("../img/triangle-white-footer-mobile.svg");
//   z-index: 10;
// }

@media (min-width: $tablet-width) {
  .mainpage-footer__title {
    font-size: 40px;
    width: 370px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 46px;
  }

  .mainpage-footer__map {
    width: 660px;
    min-height: 375px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 100% 73%;
    background-size: 100%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 660px auto;
    }
  }

  .mainpage-footer__marker {
    top: 194px;
    left: 312px;
  }

  .mainpage-footer__mask {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .mainpage-footer {
    margin-bottom: 60px;
  }

  .mainpage-footer__title {
    font-size: 50px;
    width: 470px;
    padding-top: 63px;
    padding-bottom: 55px;
  }

  .mainpage-footer__map {
    width: 960px;
    min-height: 510px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: 51% 58%;
    background-size: 124%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1488px auto;
    }
  }

  .mainpage-footer__marker {
    top: 271px;
    left: 460px;
  }
}
