.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  @include list-unstyle;
}

.nav-list__item {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: $darkgrey-mod;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $slider-hover;
  }

  &:active {
    background-color: $slider-active;
  }
}

.nav-list__item--active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 3px solid $firmcolor;

  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}
