.nav-list {
  z-index: 20;

  @include list-unstyle;
  @include nav-list-style;
}

.nav-list__item {
  @include nav-item-style;

  &:hover,
  &:focus {
    background-color: $slider-hover;
  }

  &:active {
    background-color: $slider-active;
  }
}

.nav-list__item--active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 3px solid $firmcolor;

  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}
