.promo {
  background-color: $firmcolor;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -35%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.promo__poster {
  position: relative;
  min-height: 395px;

  @include lr-padding-reset;
}

.promo__image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.promo__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding-top: 26px;
}

.promo__tagline {
  display: none;
}

.promo__main-link {
  color: #ffffff;
  width: 100%;
  margin-bottom: 30px;
  border-color: #ffffff;

  &:hover,
  &:focus {
    color: $pink-mod;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    color: $pink-mod-op;
  }
}

.promo__text {
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 28px;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: 1200px auto;
    }
  }

  .promo__wrapper {
    position: relative;
    display: flex;
  }

  .promo__poster {
    position: absolute;
    order: 2;
    left: -20px;
    bottom: 0;
  }

  .promo__image {
    position: static;
    display: block;
    width: 700px;
    max-width: none;
    left: -320px;
  }

  .promo__links {
    order: 1;
    padding-top: 92px;
    margin-bottom: 100px;
    z-index: 10;
  }

  .promo__tagline {
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: $line-auto;
    width: 210px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .promo__main-link {
    margin-bottom: 47px;
  }

  .promo__text {
    font-size: 18px;
    width: 300px;
    padding-top: 28px;
    padding-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 66%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .promo__wrapper {
    min-height: 850px;
  }

  .promo__links {
    padding-top: 220px;
    margin-bottom: 113px;
  }

  .promo__tagline {
    font-size: 50px;
    width: 240px;
    margin-bottom: 50px;
  }

  .promo__main-link {
    font-size: 21px;
    margin-bottom: 66px;
  }

  .promo__text {
    padding-top: 50px;
  }

  .promo__poster {
    left: 35px;
  }

  .promo__image {
    width: 1050px;
  }
}
