.promo {
  // height: 666px;
  // height: 27%;
  padding-bottom: 33px;
  background-color: $firmcolor;
}

.promo__poster {
  position: relative;
  min-height: 395px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
}

.promo__image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.promo__main-link {
  color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    color: $pink-mod;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    color: $pink-mod-op;
  }
}



.promo__links {
  color: #ffffff;
  text-align: center;
  padding-top: 27px;

  @include lr-padding;
}

.promo__text {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 20px;
}
