.research {
  display: none;
}

.research__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    padding-top: 55px;
    padding-bottom: 85px;
  }

  .research__image {
    display: block;
    width: 238px;
  }

  .research__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  .research__text {
    margin-top: 0;
    margin-bottom: 12px;

    br {
      display: none;
    }
  }

  .research__wrapper {
    margin: 0 auto;
  }

  .research__illustration {
    position: relative;
    min-width: 238px;
    width: 38.39%;
    height: 281px;
    background-image: url("../img/icon-timer.svg");
    background-size: 238px auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  .research__timer {
    position: absolute;
    color: #d12755;
    font-size: 96px;
    font-weight: 600;
    line-height: 149px;
    padding-left: 30px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-top: 9px;
    left: 19px;
    top: 59px;
    border: 15px solid #d12755;
    border-radius: 50%;
  }

  .research__effect {
    width: 50%;
  }

  .research__link {
    color: $pink-mod;
    text-decoration: underline;
  }
}

@media (min-width: $desktop-width) {
  .research {
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: $grey-mod;
  }

  .research__illustration {
    min-width: 298px;
    width: 31.92%;
    height: 345px;
    background-size: 298px auto;
  }

  .research__timer {
    font-size: 120px;
    line-height: 186.84px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 25px;
    padding-top: 12px;
    left: 24px;
    top: 70px;
  }

  .research__effect {
    width: 61.06%;
  }

  .research__title {
    margin-top: 93px;
    margin-bottom: 22px;

    br {
      display: none;
    }
  }

  .research__text {
    margin-bottom: 31px;

    br {
      display: inline;
    }
  }

  .research__text,
  .research__link {
    font-size: 18px;
    line-height: $maxline-h;
  }
}
