.research {
  display: none;
}

.research__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
  }

  .research__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 9px;
  }
  .research__text {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .research__wrapper {
    min-height: 360px;
    margin: 0 auto;
  }

  .research__illustration {
    width: 300px;
  }

  .research__effect {
    width: 310px;
  }

  .research__link {
    color: $pink-mod;
    text-decoration: underline;
  }
}

@media (min-width: $desktop-width) {
  .research {
    padding-top: 50px;
    padding-bottom: 31px;
    background-color: $grey-mod;
  }

  .research__illustration {
    width: 315px;
  }

  .research__effect {
    width: 570px;
  }

  .research__title {
    margin-top: 72px;
    margin-bottom: 22px;

    br {
      display: none;
    }
  }

  .research__text {
    margin-bottom: 31px;
  }

  .research__text,
  .research__link {
    font-size: 18px;
    line-height: $maxline-h;
  }
}
