.set-selector {
  padding-top: 92px;
  padding-bottom: 46px;
  background-color: $grey-mod;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}

.set-selector__wrapper {
  display: flex;
  width: 300%;
  padding-bottom: 40px;
  transform: translateX(-33%);
  transition: transform 0.5s;
}

.set-selector__wrapper--first-to-second {
  transform: translateX(-33%);
}

.set-selector__wrapper--first-to-third {
  transform: translateX(-66%);
}

.set-selector__wrapper--second-to-first {
  transform: translateX(0);
}

.set-selector__wrapper--second-to-third {
  transform: translateX(-66%);
}

.set-selector__wrapper--third-to-first {
  transform: translateX(0);
}

.set-selector__wrapper--third-to-second {
  transform: translateX(-33%);
}

.set-selector__set {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.set-selector__set--options {
  display: none;
}

.set-selector__set--hit {
  position: relative;

  & .set-selector__head,
  & .set-selector__body {
    border-left: none;
    border-right: none;
  }
}

.set-selector__head {
  color: #ffffff;
  line-height: $maxline-h;
  text-align: center;
  background-color: $firmcolor;
  border-left: $setborder;
  border-right: $setborder;
}

.set-selector__hit-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.set-selector__set--hit::before {
  position: absolute;
  content: "Хит";
  display: block;
  font-family: inherit;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  left: 14px;
  top: 12px;
  transform: rotate(315deg);
  z-index: 10;
}

.set-selector__title {
  padding-top: 15px;
  margin: 0;
  text-transform: uppercase;

  @include ttl-style;
}

.set-selector__price {
  padding-bottom: 23px;
  margin: 0;

  @include big-ttl-style;
}

.set-selector__body {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 16px;
  background-color: #ffffff;
  border-left: $setborder;
  border-right: $setborder;
  border-bottom: $setborder;
}

.set-selector__option {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: $maxline-h;
  padding-top: 17px;
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .set-selector {
    padding-top: 50px;
    padding-bottom: 29px;
  }

  .set-selector__set {
    width: 25%;
    margin: 0;

    &:nth-child(2) .set-selector__head {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left-color: $firmcolor;
    }

    &:last-child .set-selector__head {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right-color: $firmcolor;
    }
  }

  .set-selector__body {
    justify-content: center;
    align-items: center;
    height: 47px;
  }

  .set-selector__option {
    display: none;
  }

  .set-selector__wrapper {
    align-items: flex-end;
    padding-top: 40px;
    width: 100%;
    transform: none;
  }

  .set-selector__head {
    text-transform: uppercase;
  }

  .set-selector__set--hit {
    & .set-selector__head,
    & .set-selector__body {
      border-left: none;
      border-right: none;
    }
  }

  .set-selector__title {
    font-size: 16px;
    padding-top: 12px;
  }

  .set-selector__price {
    font-size: 18px;
    padding-bottom: 7px;
  }

  .set-selector__set--options {
    display: block;

    & .set-selector__body {
      justify-content: flex-start;
      padding-left: 15px;
      border-right: none;
    }

    & .set-selector__body:first-child {
      border-top: $setborder;
    }

    & .set-selector__option {
      display: block;
      text-transform: none;
      padding-top: 6px;
      padding-bottom: 7px;
    }
  }

  .set-selector__set--hit::before {
    left: 6px;
    top: 9px;
  }

  .set-selector__nav {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .set-selector {
    padding-bottom: 60px;
  }

  .set-selector__wrapper {
    padding-top: 95px;
  }

  .set-selector__title {
    font-size: 18px;
    padding-top: 18px;
  }

  .set-selector__price {
    font-size: 24px;
    padding-bottom: 22px;
  }

  .set-selector__body {
    height: 60px;
  }

  .set-selector__set--options .set-selector__option {
    font-size: 18px;
    padding-top: 14px;
    padding-left: 5px;
  }

  .set-selector__set--hit::before {
    left: 9px;
    top: 17px;
  }
}
