.slider-nav-list {
  z-index: 20;

  @include list-unstyle;
  @include nav-list-style;
}

.slider-nav-list__item {
  @include nav-item-style;
}

.slider-nav-list__item {
  &:hover,
  &:focus {
    background-color: $slider-hover;
  }
  &:active {
    background-color: $slider-active;
  }
}

.slider-nav-list__item--active {
  @include nav-item-active;
}

.slider-nav-list__item--active {
  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}
