.achievements-list {
  @include list-unstyle;

  margin-top: 44px;
}

// Не работает псевдокласс!

.achievements-list__item {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 45px;
  }
}

//

// .achievements-list__item--last-child {
//   margin-bottom: 45px;
// }

.achievements-list__input {
  display: none;
}

.achievements-list__label {
  position: relative;
  padding-left: 68px;
  cursor: pointer;

  @include input-label;

  &:hover::before {
    border-color: $firmcolor;
  }

  &:focus::before,
  &:active::before {
    border-color: $pink-mod;
  }
}

.achievements-list__label::before {
  content: "";
  position: absolute;
  display: block;

  width: 35px;
  height: 35px;
  top: -7px;
  left: 0;
  background-color: #ffffff;
  border: $setborder;
}

.achievements-list__input:checked + label::before {
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .achievements-list {
    margin-top: 19px;
  }

  .achievements-list__label {
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .achievements-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .achievements-list__item {
    width: 260px;
  }
}
