.fields {
  display: flex;
  flex-direction: column;
}

.fields__set {
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 35px;
  padding-bottom: 42px;
  margin: 0;
}

.fields__set--personal {
  padding-top: 0;
  padding-bottom: 24px;
}

.fields__set--checkboxes {
  padding-top: 37px;
  padding-bottom: 0;
}

.fields__set--contacts {
  padding-bottom: 24px;

  .fields__title {
    display: none;
  }
}

.fields__set--radio {
  padding-top: 39px;
  padding-bottom: 0;
}

.fields__set--description {
  padding-bottom: 48px;
}

.fields__title {
  font-size: inherit;
  font-weight: inherit;
  line-height: $maxline-h;
  padding-left: 30px;
  padding-right: 32px;

  @include textblock;
  @include fields-label;
}

.fields__set--grey {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $grey-mod;

  .fields__title {
    line-height: 18px;
  }
}

.fields__contact-block {
  display: flex;
  flex-direction: column;
}

.fields__contact-image {
  display: none;
}

.fields__label {
  line-height: $maxline-h;
  padding-left: 22px;

  @include fields-label;
}

.fields__textfield {
  vertical-align: middle;
  height: 62px;
  padding-left: 20px;
  margin-top: 4px;
  margin-bottom: 19px;

  @include input-label;
  @include input-style;
}

.fields__textarea {
  height: 200px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  resize: none;

  @include input-label;
  @include input-style;
}

.fields__textfield,
.fields__textarea {
  width: 100%;
  border: $setborder;
  outline: none;

  &:hover {
    border-color: $firmcolor;
  }

  &:focus,
  &:active {
    border-color: $pink-mod;
  }

  &::placeholder {
    color: $firmcolor;
  }
}

.fields__button-block {
  margin-bottom: 5px;
}

.fields__button-block {
  margin-bottom: 5px;
}

.fields__button {
  width: 100%;
}

.fields__note {
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}

.fields__note-star {
  color: $pink-mod;
}

.fields__note-plus {
  display: none;
}

@media (min-width: $tablet-width) {
  .fields__set--checkboxes,
  .fields__set--contacts,
  .fields__set--radio,
  .fields__set--description {
    margin-bottom: 65px;
    border: $setborder;
  }

  .fields__set {
    position: relative;
    padding-left: 58px;
    padding-right: 58px;
  }

  .fields__title {
    position: absolute;
    top: -10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #ffffff;
  }

  .fields__set--grey {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }

  .fields__set--personal {
    order: 1;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 17px;
  }

  .fields__set--checkboxes {
    order: 4;
    padding-bottom: 8px;

    .fields__title {
      top: -10px;
      left: 97px;
    }
  }

  .fields__set--contacts {
    order: 3;
    padding-top: 16px;
    padding-bottom: 26px;

    .fields__title {
      display: block;
      top: -16px;
      left: 185px;
    }
  }

  .fields__contact-block {
    position: relative;
    margin: 0;
    margin-top: 30px;

    .fields__label {
      order: 2;
      padding-left: 19px;
      margin: 0;
    }

    .fields__textfield {
      order: 1;
      width: calc(100% - 62px);
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .fields__contact-image {
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $lightgrey-mod;
  }

  .fields__contact-icon {
    display: block;
  }

  .fields__contact-icon--phone {
    margin: 20px auto;
  }

  .fields__contact-icon--mail {
    margin: 24px auto;
  }

  .fields__set--radio {
    order: 2;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 59px;

    .fields__title {
      left: 124px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .fields__set--description {
    order: 5;
    padding-bottom: 51px;
    margin-bottom: 66px;

    .fields__title {
      top: -16px;
      left: 192px;
    }
  }

  .fields__textarea {
    height: 193px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .fields__button-block {
    display: flex;
    justify-content: space-between;
    order: 6;
    align-items: flex-start;
    margin-bottom: 52px;
  }

  .fields__button {
    width: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .fields__note {
    margin-top: 22px;
  }

  .fields__line {
    display: flex;
    align-items: center;
    margin-bottom: 49px;

    & .fields__label {
      padding-left: 0;
      padding-right: 19px;
    }

    & .fields__textfield {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .fields {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .fields__set--personal {
    width: 46.28%;
    padding-top: 4px;
    padding-bottom: 0;
  }

  .fields__set--radio {
    width: 46.28%;
    padding-left: 74px;
    padding-top: 20px;
    padding-bottom: 12px;
    margin-bottom: 64px;

    .fields__title {
      top: -8px;
      left: 31px;
    }
  }

  .fields__set--contacts {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 14px;

    .fields__title {
      left: 345px;
    }
  }

  .fields__contact-block {
    width: 45.73%;
    margin-top: 27px;
  }

  .fields__set--checkboxes {
    width: 100%;
    padding-right: 0;
    padding-bottom: 7px;

    .fields__title {
      left: 257px;
    }
  }

  .fields__set--description {
    width: 100%;
    padding-bottom: 42px;

    .fields__title {
      left: 352px;
    }
  }

  .fields__textarea {
    height: 130px;
    margin-top: 5px;
  }

  .fields__button-block {
    width: 100%;
  }

  .fields__note-plus {
    display: inline;
  }
}
