.fields {
  display: flex;
  flex-direction: column;
}

.fields__set {
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 36px;
  padding-bottom: 42px;
  margin: 0;
}

.fields__set:first-child {
  padding-top: 0;
}

.fields__wrapper--grey {
  background-color: $grey-mod;
}

.fields__title {
  font-size: inherit;
  font-weight: inherit;
  padding-left: 30px;
  padding-right: 30px;

  @include textblock;
  @include fields-label;
}

.fields__contacts {
  & .fields__title {
    display: none;
  }
}

.fields__contact-block {
  display: flex;
  flex-direction: column;
}

.fields__label {
  line-height: $maxline-h;
  padding-left: 22px;
  margin-bottom: 8px;

  @include fields-label;
}

.fields__textfield {
  vertical-align: middle;
  height: 62px;
  padding-left: 23px;
  margin-bottom: 20px;

  @include input-label;
  @include input-style;
}

.fields__textarea {
  padding: 20px;
  margin-top: 15px;
  resize: none;

  @include input-label;
  @include input-style;
}

.fields__textfield,
.fields__textarea {
  width: 100%;
  border: $setborder;
  outline: none;

  &:hover {
    border-color: $firmcolor;
  }

  &:focus,
  &:active {
    border-color: $pink-mod;
  }
}

.fields__button {
  width: 100%;
}

.fields__note {
  text-align: center;
  text-transform: uppercase;
}

.fields__note-star {
  color: $pink-mod;
}

.fields__note-plus {
  display: none;
}

@media (min-width: $tablet-width) {
  .fields__box {
    margin-bottom: 65px;
    border: $setborder;
  }

  .fields__set {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
  }

  .fields__personal {
    order: 1;

    & .fields__set {
      padding: 0;
      border: none;
    }
  }

  .fields__checkboxes {
    order: 4;
    min-height: 550px;
  }

  .fields__contacts {
    order: 3;
    min-height: 305px;

    & .fields__title {
      display: block;
    }
  }

  .fields__radio {
    order: 2;
    min-height: 300px;
  }

  .fields__description {
    order: 5;
    min-height: 300px;
  }

  .fields__send-form {
    order: 6;
  }

  .fields__wrapper {
    background-color: transparent;
  }

  .fields__title {
    position: absolute;
    top: -10px;
    background-color: #ffffff;
  }

  .fields__line {
    display: flex;
    align-items: center;
    margin-bottom: 51px;

    & .fields__label {
      padding-left: 0;
      padding-right: 20px;
    }

    & .fields__textfield {
      margin-bottom: 0;
    }
  }

  .fields__contact-block {
    margin: 0 auto;

    & .fields__label {
      order: 2;
      margin: 0;
    }

    & .fields__textfield {
      order: 1;
      width: 440px;
      margin-top: 35px;
      margin-bottom: 10px;
    }
  }

  .fields__button-block {
    display: flex;
    justify-content: space-between;
  }

  .fields__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .fields {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .fields__wrapper {
    & .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .fields__personal {
    width: 438px;
  }

  .fields__radio {
    width: 438px;
  }

  .fields__contacts {
    width: 100%;
    min-height: 160px;

    & .fields__set {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .fields__contact-block {
    width: 373px;

    & .fields__textfield {
      width: 100%;
    }
  }

  .fields__checkboxes {
    width: 100%;
    min-height: 230px;
  }

  .fields__description {
    width: 100%;
  }

  .fields__send-form {
    width: 100%;
  }

  .fields__note-plus {
    display: inline;
  }
}
