.fields__set {
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 36px;
  padding-bottom: 42px;
  margin: 0;

  @include lr-padding;
}

.fields__set:first-child {
  padding-top: 0;
}

.fields__set--grey {
  background-color: $grey-mod;
}

.fields__title {
  font-size: inherit;
  font-weight: inherit;
  padding-left: 30px;
  padding-right: 30px;

  @include textblock;
  @include fields-label;
}

.fields__label {
  line-height: $maxline-h;
  padding-left: 22px;
  margin-bottom: 8px;

  @include fields-label;
}

.fields__textfield {
  vertical-align: middle;
  height: 62px;
  padding-left: 23px;
  margin-bottom: 20px;

  @include input-label;
  @include input-style;
}

.fields__textarea {
  padding: 20px;
  margin-top: 15px;
  resize: none;

  @include input-label;
  @include input-style;
}

.fields__textfield,
.fields__textarea {
  box-sizing: border-box;
  width: 100%;
  border: $setborder;
  outline: none;
  &:hover {
    border-color: $firmcolor;
  }
  &:focus,
  &:active {
    border-color: $pink-mod;
  }
}

.fields__button-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include lr-padding;
}

.fields__button {
  width: 100%;
}

.fields__note {
  text-transform: uppercase;
}

.fields__note-star {
  color: $pink-mod;
}
