.modal {
  text-align: center;
  box-shadow: 0 8px 10px 0 rgba(0, 1, 1, 0.15);
}

.modal-error {
  padding-bottom: 50px;
}

.modal__wrapper {
  @include lr-padding;
}

.modal__title {
  color: #000000;
  padding-top: 44px;
  margin: 0;
  margin-bottom: 33px;

  @include ttl-style;
}

.modal__text {
  margin: 0;
  margin-bottom: 40px;
}

.modal__button-block {
  padding-top: 47px;
  padding-bottom: 50px;
  background-color: $grey-mod;

  @include lr-padding;
}

.modal__button {
  width: 100%;
}
