.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include lr-padding;
  @include textblock;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developed {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  margin: 0;
}
