.page-header {
  // height: 325px;
  height: 9%;
  background-color: $firmcolor;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;

  @include lr-padding;
}

.page-header__toggle {
  margin: 0;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
