.block-head__wrapper {

  height: 170px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 25%;
}

.block-head__title {
  color: #ffffff;
  text-align: center;
  line-height: $line-auto;
  padding-top: 30px;
  margin: 0;
  @include big-ttl-style;
  @include lr-padding;
}

.block-head__text {
  line-height: $maxline-h;
  padding-top: 50px;
  padding-bottom: 50px;
  @include textblock;
  @include lr-padding;
}
