.block-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-head__wrapper {
  display: flex;
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 25%;

  @include lr-padding-reset;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.block-head__wrapper--extended {
  padding-top: 67px;
  background-position: 50% 0;
}

// .block-head__wrapper--nojs {
//   padding-top: 0;
//   background-position: 50% 25%;
// }

.block-head__title {
  color: #ffffff;
  text-align: center;
  line-height: $line-auto;
  width: 71.43%;
  padding-top: 30px;
  padding-bottom: 83px;
  margin: 0 auto;

  @include big-ttl-style;
}

.block-head__title--form {
  width: 85%;
  padding-bottom: 55px;
}

.block-head__text {
  line-height: $maxline-h;
  text-align: center;
  width: 89.28%;
  padding-top: 45px;
  padding-bottom: 49px;
  margin: 0 auto;
}

.block-head__text--form {
  width: 98%;
  padding-bottom: 35px;
}

.block-head__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .block-head__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 28%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .block-head__wrapper--extended {
    padding-top: 110px;
    background-position: 50% 0;
  }

  // .block-head__wrapper--nojs {
  //   padding-top: 0;
  //   background-position: 50% 28%;
  // }

  .block-head__title {
    font-size: 50px;
    width: 480px;
    padding-top: 68px;
    padding-bottom: 141px;
  }

  .block-head__title--form {
    padding-bottom: 80px;
  }

  .block-head__text {
    font-size: 18px;
    width: 500px;
    padding-top: 93px;
    padding-bottom: 75px;
  }

  .block-head__text--form {
    padding-bottom: 67px;
  }

  .block-head__note {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .block-head__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .block-head__wrapper--extended {
    padding-top: 0;
  }

  .block-head__title {
    padding-top: 173px;
    padding-bottom: 100px;
  }

  .block-head__title--form {
    width: 81.25%;
  }

  .block-head__text {
    width: 580px;
    padding-bottom: 87px;
  }

  .block-head__text--form {
    width: 81.25%;
    padding-bottom: 79px;
  }
}
