.photo-editor {
  padding-top: 20px;
  background-color: $grey-mod;
}

.photo-editor__image {
  display: block;
  width: 100%;
}

.photo-editor__tools-wrapper {
  display: flex;
  flex-direction: column;
}

.photo-editor__buttons-block {
  display: flex;
  flex-direction: column;
  border-top: $setborder;
  padding-top: 37px;
  padding-bottom: 43px;
  margin-top: 34px;

  @include lr-padding-reset;
}

.photo-editor__button {
  width: 87.5%;
  margin: 0 auto;
  background-color: transparent;
}

.photo-editor__button--post {
  color: $pink-mod;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $pink-mod;
    border-color: $pink-mod;
  }

  &:active {
    color: $white-op;
    background-color: $pink-mod;
    border-color: $pink-mod;
  }
}

.photo-editor__button--cancel {
  color: $cancel-btn;

  &:hover,
  &:focus {
    color: $cancel-btn-hover;
    border-color: $editoricon-fill;
  }

  &:active {
    color: $cancel-btn-active;
    background-color: $editoricon-fill;
    border-color: $editoricon-fill;
  }
}

@media (min-width: $tablet-width) {
  .photo-editor {
    padding-top: 42px;
  }

  .photo-editor__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 54px;
  }

  .photo-editor__image-wrapper {
    width: 48.39%;
    padding-top: 14px;
  }

  .photo-editor__tools-wrapper {
    width: 44.35%;
  }

  .photo-editor__range {
    display: none;
  }

  .photo-editor__buttons-block {
    padding-left: 3px;
    padding-right: 13px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 70px;
    margin-bottom: 0;
    border: none;
  }

  .photo-editor__button--post {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    padding-top: 0;
    margin-bottom: 80px;
    background-color: transparent;
  }

  .photo-editor__form {
    padding-top: 38px;
    padding-bottom: 57px;
    background-color: $grey-mod;
  }

  .photo-editor__image-wrapper {
    width: 31.9%;
    padding-top: 19px;
    margin-left: 80px;
  }

  .photo-editor__tools-wrapper {
    width: 43.62%;
    padding-left: 0;
    margin-right: 57px;
  }

  .photo-editor__buttons-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 150px;
  }

  .photo-editor__button {
    width: 183px;
    margin: 0;
  }

  .photo-editor__button--post {
    margin-bottom: 0;
  }
}
