.photo {
  width: 100%;
}

.photo-block {
  margin-bottom: 20px;
}

.best-photo-block {
  position: relative;
}

.photo-block__wrapper {
  display: flex;
  flex-direction: column;
  background-color: $grey-mod;
  padding-bottom: 24px;

  @include lr-padding;
}

.photo-block__image--best {
  display: block;
}

.best-photo-block::before {
  position: absolute;
  content: "";
  display: block;

  width: 140px;
  height: 36px;
  left: 160px;
  top: 0;

  background-image: url("../img/image-label.png");
}

.best-photo-block::after {
  position: absolute;
  content: "Панорама дня";
  display: block;
  font-family: inherit;
  font-size: $minifont;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  left: 180px;
  top: 7px;
}

.photo-block__image {
  display: block;
  width: 100%;
}

.photo-block__username {
  font-weight: 700;
  padding-top: 20px;
}

.photo-block__post-time {
  @include time-style;
}

.photo-block__post {
  margin: 0;
}

.photo-block__likes {
  position: relative;
  color: $pink-mod;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 30px;
}

.photo-block__likes::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  left: 0;
  bottom: 7px;
  background-image: url("../img/icon-heart.svg");
}

@media (min-width: $tablet-width) {
  .photo-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-block {
    width: 300px;
  }

  .best-photo-block {
    width: 100%;
    margin-bottom: 50px;

    & .photo-block__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 620px;
      margin: 0 auto;
    }

    & .photo-block__username {
      order: 1;
    }

    & .photo-block__likes {
      order: 2;
      padding-left: 0;
      padding-right: 30px;
    }

    & .photo-block__likes::before {
      left: 120px;
    }

    & .photo-block__post {
      order: 3;
    }
  }

  .photo-block__wrapper {
    min-height: 155px;

    @include lr-padding-plus;
  }
}
