.photo-block {
  width: 100%;
  margin-bottom: 19px;
}

.photo-block--best {
  position: relative;
}

.photo-block__image-label {
  position: absolute;
  top: 0;
  right: 20px;
}

.photo-block__label-text {
  position: absolute;
  top: 6px;
  right: 40px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.photo-block__image {
  display: block;
  width: 100%;
}

.photo-block__wrapper {
  display: flex;
  flex-direction: column;
  background-color: $grey-mod;
  padding-bottom: 24px;
  padding-left: 17px;
  padding-right: 20px;
}

.photo-block__username {
  font-weight: 700;
  padding-top: 18px;
}

.photo-block__post-time {
  @include time-style;
}

.photo-block__post {
  margin: 0;
}

.photo-block__likes {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $pink-mod;
  text-transform: uppercase;
  padding-top: 10px;
}

.photo-block__likes-text {
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
  }

  .photo-block {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
  }

  .photo-block__wrapper {
    padding-left: 27px;
    padding-right: 32px;
  }

  .photo-block__image--best {
    min-height: 509px;
  }

  .photo-block__image-label {
    top: 57px;
  }

  .photo-block__label-text {
    top: 63px;
  }

  .photo-block__username {
    padding-top: 25px;
  }

  .photo-block__post {
    min-height: 47px;
  }

  .photo-block__likes {
    justify-content: space-between;
    padding-top: 13px;
  }

  .photo-block__likes-text {
    order: 1;
    padding-left: 0;
  }

  .photo-block__likes-icon {
    order: 2;
  }

  .photo-block--best {
    width: 100%;
    margin-bottom: 50px;

    & .photo-block__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      padding-right: 28px;
      padding-bottom: 23px;
      margin: 0 auto;
    }

    & .photo-block__username {
      order: 1;
    }

    & .photo-block__likes {
      order: 2;
      width: 21.24%;
      padding-left: 0;
      padding-top: 22px;
    }

    & .photo-block__post {
      order: 3;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-block {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 55px;
  }

  .photo-block__image--best {
    min-height: 506px;
  }

  .photo-block__image-label {
    top: 55px;
    right: 10px;
  }

  .photo-block__label-text {
    top: 61px;
    right: 30px;
  }

  .photo-block--best {
    margin-bottom: 49px;

    .photo-block__wrapper {
      padding-right: 31px;
      padding-bottom: 0;
    }

    .photo-block__likes {
      width: 13.67%;
      padding-top: 26px;
    }
  }
}
