.range-control {
  position: relative;
  width: 100%;
}

.range-control__scale {
  width: 85%;
  height: 2px;
  background-color: $firmcolor;
  margin: 0 auto;
}

.range-control__toggle {
  position: absolute;
  top: -6px;
  right: 56px;
  width: 14px;
  height: 14px;
  background-color: $grey-mod;
  border: 2px solid $pink-mod;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background-color: $pink-mod;
  }
}

@media (min-width: $tablet-width) {
  .range-control {
    width: 86.55%;
  }

  .range-control--clip {
    .range-control__toggle {
      right: 60px;
    }
  }

  .range-control--fill {
    .range-control__toggle {
      right: 181px;
    }
  }

  .range-control--contrast {
    .range-control__toggle {
      right: 110px;
    }
  }
}

@media (min-width: $desktop-width) {
  .range-control__scale {
    width: 81%;
  }
}
