.text-block {
  padding-top: 23px;
  padding-bottom: 42px;
}

.text-block__content {
  line-height: $maxline-h;

  @include textblock;
}

@media (min-width: $tablet-width) {
  .text-block {
    font-size: $ttlfont;
    padding-top: 49px;
    padding-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .text-block {
    padding-top: 7px;
    padding-bottom: 66px;
  }
}
