.text-block__content {
  line-height: $maxline-h;
  padding-top: 23px;
  padding-bottom: 42px;

  @include textblock;
}

@media (min-width: $tablet-width) {
  .text-block__content {
    font-size: $ttlfont;
    padding-top: 49px;
    padding-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .text-block__content {
    padding-top: 7px;
    padding-bottom: 66px;
  }
}
