.tools-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71.43%;

  @include list-unstyle;

  margin-left: 37px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.tools-list__item {
  display: inline-block;
  cursor: pointer;

  &:hover .tools-list__icon-path,
  &:focus .tools-list__icon-path {
    fill: $editoricon-hover;
  }

  &:active .tools-list__icon-path {
    fill: $pink-mod;
  }
}

.tools-list__icon-path {
  fill: $editoricon-fill;
}

.tools-list__range {
  display: none;
}

@media (min-width: $tablet-width) {
  .tools-list {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 0;
  }

  .tools-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 24px;
    border-bottom: $setborder;
  }

  .tools-list__icon--clip {
    width: 25px;
    height: 25px;
  }

  .tools-list__icon--fill {
    width: 25px;
    height: 25px;
  }

  .tools-list__icon--contrast {
    width: 18px;
    height: 18px;
  }

  .tools-list__icon-path {
    fill: $pink-mod;
  }

  .tools-list__range {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .tools-list__icon {
    width: 44px;
    height: 44px;
  }
}
