.tools-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71.43%;

  @include list-unstyle;

  margin-left: 37px;
  margin-top: 40px;
  margin-bottom: 28px;
}

.tools-list__item {
  display: inline-block;
  cursor: pointer;

  &:hover .tools-list__icon-path,
  &:focus .tools-list__icon-path {
    fill: $editoricon-hover;
  }

  &:active .tools-list__icon-path {
    fill: $pink-mod;
  }
}

.tools-list__icon-path {
  fill: $editoricon-fill;
}

.tools-list__icon--fill {
  margin-top: 2px;
}

.tools-list__range {
  display: none;
}

@media (min-width: $tablet-width) {
  .tools-list {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 0;
  }

  .tools-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 24px;
    border-bottom: $setborder;

    &:hover .tools-list__icon-path,
    &:focus .tools-list__icon-path {
      fill: $pink-mod;
    }
  }

  .tools-list__icon--clip {
    width: 24px;
    height: 24px;
    margin-left: 2px;
  }

  .tools-list__icon--fill {
    width: 24px;
    height: 24px;
    margin-left: 3px;
  }

  .tools-list__icon--contrast {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  .tools-list__icon-path {
    fill: $pink-mod;
  }

  .tools-list__range {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .tools-list__item {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .tools-list__icon--clip {
    width: 46px;
    height: 46px;
    margin-left: 0;
  }

  .tools-list__icon--fill {
    width: 45px;
    height: 45px;
    margin-left: 0;
    margin-top: 0;
  }

  .tools-list__icon--contrast {
    width: 33px;
    height: 33px;
    margin-left: 0;
  }
}
