.main-menu {
  text-align: center;

  @include list-unstyle;
}

.main-menu--opened{
  display: block;
}

.main-menu--closed {
  display: none;
}

.main-menu__item {
  color: #ffffff;
  line-height: 1.2em;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;

  @include ttl-style;


  &:hover,
  &:focus {
    color: $pink-mod;
  }

  &:active {
    color: $pink-mod-op;
  }
}

.main-menu__link {
  display: block;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  @include lr-padding-reset;
}

@media (min-width: $desktop-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 740px;
  }

  .main-menu__link {
    padding-top: 23px;
    padding-bottom: 23px;
    border: none;
  }

  .main-menu__item {
    font-weight: 400;
    text-transform: none;
  }
}
