.main-menu {
  text-align: center;

  @include list-unstyle;
}

.main-menu--opened {
  display: block;
}

.main-menu--closed {
  display: none;
}

.main-menu--nojs {
  display: block;
}

.main-menu__item {
  display: block;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  cursor: pointer;

  @include lr-padding-reset;
}

.main-menu__link {
  display: inline-block;
  color: #ffffff;
  line-height: 1.2em;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 22px;
  outline: none;

  @include ttl-style;

  &:hover,
  &:focus {
    color: $pink-mod;
  }

  &:active {
    color: $pink-mod-op;
  }
}

@media (min-width: $desktop-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-menu__item {
    margin-left: 0;
    margin-right: 0;
    border: none;
  }

  .main-menu__link {
    font-weight: 400;
    text-transform: none;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
