.page-header {
  // display: flex;
  // flex-direction: column;
  min-width: 320px;
  background-color: $firmcolor;
  margin: 0 auto;
}

.page-header__title {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;

  @include lr-padding-reset;
}

.page-header__logo {
  padding-left: 20px;

  &:hover .page-header__logo-icon-path,
  &:focus .page-header__logo-icon-path {
    fill: $pink-mod;
  }

  &:active .page-header__logo-icon-path {
    fill: $pink-mod-op;
  }
}

.page-header__toggle {
  margin: 0;
  margin-left: auto;
  padding-right: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover .page-header__cross-icon-path,
  &:focus .page-header__cross-icon-path {
    fill: $pink-mod;
  }

  &:active .page-header__cross-icon-path {
    fill: $pink-mod-op;
  }
}

.page-header__burger-icon {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 36px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.page-header__burger {
  position: relative;
  width: 36px;
  height: 25px;
  cursor: pointer;

  &:hover .page-header__burger-icon,
  &:focus .page-header__burger-icon {
    background-color: $pink-mod;
    box-shadow: 0 8px 0 0 $pink-mod, 0 16px 0 0 $pink-mod;
  }

  &:active .page-header__burger-icon {
    background-color: $pink-mod-op;
    box-shadow: 0 8px 0 0 $pink-mod-op, 0 16px 0 0 $pink-mod-op;
  }
}

.page-header__toggle--cross {
  .page-header__cross-icon {
    display: block;
  }

  .page-header__burger {
    display: none;
  }
}

.page-header__toggle--burger {
  .page-header__cross-icon {
    display: none;
  }

  .page-header__burger {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .page-header__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $black-op;
    z-index: 100;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__title {
    width: 150px;
    padding: 0;
    border: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__main-nav {
    width: 620px;
  }
}
