.page-header {
  display: flex;
  flex-direction: column;
  background-color: $firmcolor;
}

.page-header__wrapper {
  border-bottom: 1px solid #000000;
}

.page-header__title {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 23px;

  @include lr-padding;
}

.page-header__logo {
  &:hover .page-header__logo-icon-path,
  &:focus .page-header__logo-icon-path {
    fill: $pink-mod;
  }

  &:active .page-header__logo-icon-path {
    fill: $pink-mod-op;
  }
}

.page-header__toggle {
  margin: 0;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover .page-header__toggle-icon-path,
  &:focus .page-header__toggle-icon-path {
    fill: $pink-mod;
  }

  &:active .page-header__toggle-icon-path {
    fill: $pink-mod-op;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $black-op;
    z-index: 100;
  }

  .page-header__wrapper {
    display: flex;
    align-items: center;
    min-height: 110px;
    padding-left: 120px;
    border: none;
  }

  .page-header__title {
    padding: 0;
  }

  .page-header__toggle {
    display: none;
  }
}
