.page-header {
  background-color: $firmcolor;
  margin: 0 auto;
}

.page-header__title {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;

  @include lr-padding-reset;
}

.page-header__title--transparent {
  position: absolute;
  left: 20px;
  top: 0;
  width: 100%;
  border: none;
  background-color: $black-op;
  z-index: 100;
}

.page-header__title--nojs {
  position: static;
  width: auto;
  border-bottom: 1px solid #000000;
  background-color: inherit;
}

.page-header__logo {
  padding-left: 20px;
  outline: none;

  &:hover .page-header__logo-icon-path,
  &:focus .page-header__logo-icon-path {
    fill: $pink-mod;
  }

  &:active .page-header__logo-icon-path {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.page-header__logo-icon--tablet,
.page-header__logo-icon--desktop {
  display: none;
}

.page-header__toggle {
  margin: 0;
  margin-left: auto;
  padding-right: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover .page-header__cross-icon-path,
  &:focus .page-header__cross-icon-path,
  &:hover .page-header__burger-icon-path,
  &:focus .page-header__burger-icon-path {
    fill: $pink-mod;
  }

  &:active .page-header__cross-icon-path,
  &:active .page-header__burger-icon-path {
    fill: $pink-mod-op;
  }
}

.page-header__toggle--cross {
  .page-header__cross-icon {
    display: block;
  }

  .page-header__burger-icon {
    display: none;
  }
}

.page-header__toggle--burger {
  .page-header__cross-icon {
    display: none;
  }

  .page-header__burger-icon {
    display: block;
  }
}

.page-header__toggle--nojs {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__title {
    padding-top: 30px;
    padding-bottom: 39px;
  }

  .page-header__logo-icon--mobile {
    display: none;
  }

  .page-header__logo-icon--tablet {
    display: block;
  }

  .page-header__toggle {
    margin-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $black-op;
    z-index: 100;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__title {
    width: 15.96%;
    padding: 0;
    border: none;
  }

  .page-header__title--transparent {
    position: static;
    background-color: transparent;
    width: 15.96%;
  }

  .page-header__logo {
    margin-bottom: 10px;
  }

  .page-header__logo-icon--tablet {
    display: none;
  }

  .page-header__logo-icon--desktop {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__main-nav {
    width: 65.96%;
  }
}
